MONGO_DEV_URL = mongodb+srv://faisalnksaif:pass@cluster0.iaoqh.mongodb.net/classday?retryWrites=true&w=majority
MONGO_PROD_URL = mongodb+srv://faisalnksaif:pass@cluster0.iaoqh.mongodb.net/classday?retryWrites=true&w=majority

PORT=3000

# FIREBASE_SERVICE_ACCOUNT_KEY_PATH=../tmp/classday-14306-firebase-adminsdk-52ipc-7d64f8cc41.json

